<footer style="bottom: 0; width: 100%; text-align: center;">
    <p>Created by Michael Kinnear &copy; 2025 Take Note App</p>
    <!-- Opens new tab in browser and directs to linkedin page -->
    <a href="https://www.linkedin.com/in/michael-kinnear-839010b1/" target="_blank">
        <img src="/images/linkedin.png"aria-label="linkedin logo button" alt="linkedin logo" height="30px">
    </a>
    <!-- Opens new tab in browser and directs to github page -->
    <a href="https://github.com/MLKinnear" target="_blank">
        <img src="/images/github.png"aria-label="github logo button" alt="github logo" height="30px">
    </a>
</footer>