<nav class="container-sm d-flex justify-content-between" style="margin-bottom: 10px;">
    <div>
        <!-- Directs user to notes page -->
        <a class="btn btn-dark" href="/notes" role="button">Home</a>
        <!-- Directs user to create page -->
        <a class="btn btn-dark" href="/notes/create" role="button">Create</a>
    </div>
    <!-- Directs user to logout page, runs script to remove cookie token -->
    <a class="btn btn-dark" href="/logout" role="button">Log Out</a>
</nav>