<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Note App</title>
    <!-- Cloud Bootstrap Stylesheet link to optimize load time -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body style="margin: 10px; background-color: rgb(88, 44, 233, 0.75);">
    <!-- Renders Header -->
    <%- include('partials/header') %>
    <!-- Rendered Content -->
    <main>
    <%- body %>
    </main>
    <!-- Renders Footer -->
    <%- include('partials/footer') %>
<!-- Embedded script to optimize load time -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
    console.log('Note Taking App is working!');
    });
</script>
<!-- Cloud Bootstrap Javascript link to optimize load time -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>